<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <session-config>

        <!-- Удаляю сессию после 10 минуты бездействия пользователя  -->
        <!-- что бы снизить нагрузку на сервер-->

        <session-timeout>10</session-timeout>

    </session-config>

</web-app>